@{
    ViewBag.Title = "About";
    ViewBag.Message = "Our Application Description Page";
    Layout = "~/Views/Shared/default_layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p> AGROINFO-NEPAL is a web based application that provides the information of crops and shops where they can be acquired.
        This web application is mostly targeted towards the farmers of our country but it is not limited to them only,
        any and all the application users are welcome to use it.
        This web application has been designed using ASP.NET MVC framework.</p>

<h3>Contact us at:</h3>
<address>
    Advanced College of Engineering and Management<br />
    Kupondole,Lalitpur<br />
    <abbr title="Phone">P:</abbr>
    4444444
</address>

<address>
    <strong>Support:</strong>   <a href="agroin4@gmail.com">agroin4@gmail.com</a><br />
</address>
