@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/user_layout.cshtml";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="card">

    <p class="col-pink">Use this area to provide additional information.</p>

</div>