@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    
    <h1>AGROINFO-NEPAL</h1>
    <p class="lead">
        AGROINFO-NEPAL is a web based application that provides the information of crops and shops where they can be acquired.
        This web application is mostly targeted towards the farmers of our country but it is not limited to them only,
        any and all the application users are welcome to use it.
        This web application has been designed using ASP.NET MVC framework.
        For more information, click the button below.
    </p>
    <p><a href="http://asp.net" class="btn btn-info btn-sm">Learn more &raquo;</a></p>
</div>

<div class="card">
    <img src="~/assets/images/nepal topography.png" />
</div>
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@