`@{
    ViewBag.Title = "Home Page";
}
<div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }
    </style>
    <h1 class="font-50 font-bold " style="text-align:center;font-family:'French Script MT';color:darkgreen">
        "The farmer has to be an optimist or he wouldn't still be a farmer!"
    </h1>
    <div class="w3-content w3-section" style="background:cover;">
        <img class="mySlides" src="~/assets/images/maxresdefault.jpg" style="width:100%;height:400px;">
        <img class="mySlides" src="~/assets/images/OIL_PROMO_1240_400.jpg" style="width:100%;height:400px;">
        <img class="mySlides" src="~/assets/images/download (1).jpg" style="width:100%;height:400px;">
        <img class="mySlides" src="~/assets/images/field-sky-tractor-wagon.jpg" style="width:100%;height:400px;">
        <img class="mySlides" src="~/assets/images/images.jpg" style="width:100%;height:400px;">
    </div>
    <script>
        var myIndex = 0;
        carousel();
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 3000); // Change image every 3 seconds
        }
    </script>
</div>
<br />
<div class="jumbotron" style="background-image: url('../../assets/images/jumbotronbackground.jpg'); ">
    <h1 class="col-white">AGROINFO-NEPAL</h1>
    <p class="lead col-white">
        AGROINFO-NEPAL is a web based application that provides the information of crops and shops where they can be acquired.
        This web application is mostly targeted towards the farmers of our country but it is not limited to them only,
        any and all the application users are welcome to use it.
        We will have access to information about different crops, their plantation in respective areas and
        production in the respective areas.

    </p>
</div>
<div class="col-md-5 p-t-10">

    <div class="header bg-light-green" style="text-align:center">
        <h2>Contact us at:</h2>
    </div>
    <address>
        Advanced College of Engineering and Management<br />
        Kupondole,Lalitpur<br />
        <abbr title="Phone">P:</abbr>
        4444444
    </address>

    <address>
        <strong>Support:</strong>   <a href="agroin4@gmail.com">agroin4@gmail.com</a><br />
    </address>

</div>

